@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
body {
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  background: #D9D9D9;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  body #app {
    padding: 60px 0;
    width: 100%;
    overflow-x: hidden; }
  body .fixed_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #083C5D;
    z-index: 5;
    color: #fff;
    line-height: 35px; }

h1.greet-message {
  text-align: center;
  font-weight: 300; }

ul.list-group {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  text-align: center; }
  ul.list-group li {
    display: inline-block;
    padding: 10px;
    background: #FFEB3B;
    margin: 0 5px;
    transform: skewX(7deg) skewY(2deg); }

.fork-me {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  max-width: 50%;
  height: 90px;
  display: none;
  z-index: 10;
  cursor: pointer; }
  .fork-me img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer; }

.pixel_color_input {
  border: 5px solid #000; }

.pixel_tools_menu {
  position: relative;
  display: block;
  margin: 0;
  padding: 0; }
  .pixel_tools_menu .pixel_tool {
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    vertical-align: middle; }
    .pixel_tools_menu .pixel_tool.size-picker-wrap {
      width: 100px; }
    .pixel_tools_menu .pixel_tool .page-link.icon_item {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: .5rem;
      padding-right: .5rem; }
      .pixel_tools_menu .pixel_tool .page-link.icon_item svg {
        max-height: 36px;
        margin: 0;
        display: block; }
    .pixel_tools_menu .pixel_tool .btn {
      display: block;
      height: 100%;
      padding: 0 1rem; }
      .pixel_tools_menu .pixel_tool .btn svg {
        height: 100%; }
    .pixel_tools_menu .pixel_tool svg {
      width: 20px;
      height: 40px;
      fill: #fff; }
    .pixel_tools_menu .pixel_tool .acedzn-color-picker {
      width: 120px;
      height: 100%;
      position: relative;
      display: block; }
      .pixel_tools_menu .pixel_tool .acedzn-color-picker .color_swatch {
        width: 60px;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        box-shadow: inset 0 0 0px 5px #fff; }
      .pixel_tools_menu .pixel_tool .acedzn-color-picker svg {
        width: 20px;
        padding: 1px;
        display: block;
        margin: 0 auto; }
      .pixel_tools_menu .pixel_tool .acedzn-color-picker .twitter-picker {
        display: none !important;
        width: 280px !important;
        position: absolute !important;
        bottom: -55px !important;
        z-index: 13 !important; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker .twitter-picker.open {
          display: flex !important;
          z-index: 13 !important; }
      .pixel_tools_menu .pixel_tool .acedzn-color-picker span {
        display: inline-block;
        padding: 2px;
        vertical-align: top;
        width: 20%;
        color: rgba(255, 255, 255, 0.7); }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker span.eraser {
          padding: 0;
          margin-left: 5px;
          width: 55px; }
          .pixel_tools_menu .pixel_tool .acedzn-color-picker span.eraser div {
            background-image: url("../images/transparent_icon_bg.jpg");
            border-radius: 0; }
            .pixel_tools_menu .pixel_tool .acedzn-color-picker span.eraser div svg {
              fill: #ec134c; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker span.active div, .pixel_tools_menu .pixel_tool .acedzn-color-picker span.active div:hover {
          box-shadow: inset 0 0 0 1px #083c5c, 0 0 10px -2px #fff; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker span div {
          cursor: pointer;
          font-size: 8px;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 5px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover; }
          .pixel_tools_menu .pixel_tool .acedzn-color-picker span div:hover {
            box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.5), 0 0 10px -2px #fff;
            cursor: pointer; }
          .pixel_tools_menu .pixel_tool .acedzn-color-picker span div svg {
            fill: #ec134c; }
      .pixel_tools_menu .pixel_tool .acedzn-color-picker .picker-popup {
        display: none;
        width: 320px;
        position: absolute;
        z-index: 10;
        top: 100%;
        background: #083c5c;
        border-radius: 0 0 5px 5px;
        padding: 5px; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker .picker-popup.open {
          display: block; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker .picker-popup hr {
          margin: 5px;
          border-radius: 50%;
          border-color: #135b86; }
        .pixel_tools_menu .pixel_tool .acedzn-color-picker .picker-popup b {
          font-weight: 100;
          font-size: 10px;
          display: block;
          line-height: 1.5;
          padding: 5px; }
    .pixel_tools_menu .pixel_tool .rangeslider-horizontal .rangeslider__handle-tooltip {
      top: 37px !important; }
    .pixel_tools_menu .pixel_tool .rangeslider-horizontal .rangeslider__handle-tooltip:after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(0, 0, 0, 0.8) !important;
      border-top: 0px solid transparent !important;
      left: 50%;
      top: -8px !important;
      bottom: auto !important; }

.css-preview-block {
  position: relative; }

textarea {
  width: 100%;
  min-height: 200px; }

.canvas_wrap {
  position: relative; }
  .canvas_wrap canvas.grid_canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .canvas_wrap canvas.pixel_canvas {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2; }

.container {
  position: inherit; }

.css-code-block {
  position: absolute;
  top: 150px;
  right: -400px;
  width: 550px;
  max-width: 100%;
  height: 250px;
  transition: right 1s;
  z-index: 10; }
  .css-code-block:hover {
    right: 0px; }
  .css-code-block textarea {
    width: 100%;
    height: 100%; }

@media only screen and (min-width: 600px) {
  .fork-me {
    display: block; } }

.loader_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 4;
  background: rgba(0, 0, 0, 0.3); }
  .loader_wrap > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.progress_loader {
  position: relative;
  width: 55px;
  height: 55px;
  z-index: 5; }
  .progress_loader::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    content: '';
    box-shadow: 20px 0 0 rgba(255, 255, 255, 0), 40px 0 0 rgba(255, 255, 255, 0), 0 -20px 0 rgba(255, 255, 255, 0), 20px -20px 0 rgba(255, 255, 255, 0), 40px -20px 0 rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0);
    animation: loader 5.4s linear forwards infinite; }
  .progress_loader::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    background-color: #083c5d;
    opacity: 0;
    content: '';
    animation: base 5.4s linear forwards infinite; }

@keyframes base {
  0% {
    bottom: 10px;
    opacity: 0; }
  5%, 50% {
    bottom: 0;
    opacity: 1; }
  55%, 100% {
    bottom: -10px;
    opacity: 0; } }

@keyframes loader {
  0% {
    box-shadow: 20px -10px rgba(255, 255, 255, 0), 40px 0 rgba(255, 255, 255, 0), 0 -20px rgba(255, 255, 255, 0), 20px -20px rgba(255, 255, 255, 0), 40px -20px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  5% {
    box-shadow: 20px -10px rgba(255, 255, 255, 0), 40px 0 rgba(255, 255, 255, 0), 0 -20px rgba(255, 255, 255, 0), 20px -20px rgba(255, 255, 255, 0), 40px -20px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  10% {
    box-shadow: 20px 0 white, 40px -10px rgba(255, 255, 255, 0), 0 -20px rgba(255, 255, 255, 0), 20px -20px rgba(255, 255, 255, 0), 40px -20px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  15% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -30px rgba(255, 255, 255, 0), 20px -20px rgba(255, 255, 255, 0), 40px -20px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  20% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -30px rgba(255, 255, 255, 0), 40px -20px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  25% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -30px rgba(255, 255, 255, 0), 0 -40px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  30% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -50px rgba(255, 255, 255, 0), 20px -40px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  35% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -50px rgba(255, 255, 255, 0), 40px -40px rgba(242, 205, 123, 0); }
  40% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -50px rgba(242, 205, 123, 0); }
  45%, 55% {
    box-shadow: 20px 0 white, 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  60% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 0 white, 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  65% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -20px white, 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  70% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -20px white, 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  75% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -10px rgba(255, 255, 255, 0), 40px -20px white, 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  80% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -10px rgba(255, 255, 255, 0), 40px -10px rgba(255, 255, 255, 0), 0 -40px white, 20px -40px white, 40px -40px #f2cd7b; }
  85% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -10px rgba(255, 255, 255, 0), 40px -10px rgba(255, 255, 255, 0), 0 -30px rgba(255, 255, 255, 0), 20px -40px white, 40px -40px #f2cd7b; }
  90% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -10px rgba(255, 255, 255, 0), 40px -10px rgba(255, 255, 255, 0), 0 -30px rgba(255, 255, 255, 0), 20px -30px rgba(255, 255, 255, 0), 40px -40px #f2cd7b; }
  95%, 100% {
    box-shadow: 20px 10px rgba(255, 255, 255, 0), 40px 10px rgba(255, 255, 255, 0), 0 -10px rgba(255, 255, 255, 0), 20px -10px rgba(255, 255, 255, 0), 40px -10px rgba(255, 255, 255, 0), 0 -30px rgba(255, 255, 255, 0), 20px -30px rgba(255, 255, 255, 0), 40px -30px rgba(242, 205, 123, 0); } }

/* Add image to the DOM here so user can't see it */
#measure {
  position: absolute;
  left: -10000px;
  top: -100000px; }
